.list {
  box-shadow: 1px 6px 13px 0px rgba(0, 0, 0, 0.57);
  padding: 10px;
  height: 97%;

  h1 {
    font-size: 20px;
    font-weight: 500;
    color: rgba(102, 51, 153, 0.425);
    margin-bottom: 20px;
  }

  .table {
    height: 87%;

    .cellAction {
      display: flex;
      gap: 20px;

      .editButton,
      .deleteButton {
        padding: 5px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
      }

      .editButton {
        background-color: rgb(75, 75, 194);
      }

      .deleteButton {
        background-color: crimson;
      }
    }
  }
}
