.home {
  .homeContainer {
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .title {
      font-size: 32px;
      align-self: center;
      margin-bottom: 20px;
      color: rebeccapurple;
      font-weight: 700;
    }

    .top {
      display: flex;
      flex-wrap: wrap;
      gap: 50px;

      .left {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
      }

      .center {
        flex: 5;
      }

      .right {
        flex: 2;
      }
    }
  }
}
